
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - just another data structures assignment</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div class="w3-bar w3-light-grey">
        <a class="w3-bar-item w3-button" href="@Url.Action("Index", "Home")">Home</a>
        <a class="w3-bar-item w3-button" href="@Url.Action("Index", "Stack")">Stack</a>
        <a class="w3-bar-item w3-button" href="@Url.Action("Index", "Queue")">Queue</a>
        <a class="w3-bar-item w3-button" href="@Url.Action("Index", "Dictionary")">Dictionary</a>
        <a class="w3-bar-item w3-button" href="@Url.Action("Exit", "Home")">Exit</a>
    </div>

    <h1>Welcome to the 189th Semi-Annual Data Structures Assignment</h1>


    <div class="container body-content">
        <img src="~/Graphics/generalProgrammers.png" alt="General Programmers" width="500" />
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

</body>
</html>
